{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="static/Css/swiper-bundle.min.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'CSS/swiper-bundle.min.css' %}"/>
    <title>E-commerce Landing Page</title>
  </head>
  <style>
    .font-custom {
      font-family: "Montserrat", sans-serif;
    }    body {
      font-family: "Montserrat", sans-serif;
    }
    .rotate-icon {
  transform: rotate(180deg);
  transition: transform 0.5s ease; /* Smooth transition for rotation */
}
  .widthSwiper {
  width: 100%;
  height: 200px;
  }
    </style>
  <body class="max-w-screen-2xl mx-auto">
    <div class="">
      <div class="nav p-4 flex items-center justify-between">
        <div class="flex items-center gap-2">
          <svg
            class="w-6 h-6"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 576 512"
          >
            <path
              d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"
            />
          </svg>
          <h1 class="text-xl text-gray-900 font-bold tracking-wide">
            Return To<a class="text-amber-500" href="#"> Cart</a>
          </h1>
        </div>
        <div class="nav-icons flex items-center gap-3">
          <!-- search bar -->
          <div class="hidden md:flex items-center">
            <input class="w-56 h-[39px] p-2 border border-gray-300 focus:outline-none focus:border-black focus:ring-1 focus:ring-black rounded-l-lg" type="search" name="search" id="search" placeholder="Search">
            <svg class="w-10 h-10 p-3 bg-black text-white fill-current rounded-r-lg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
              <path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
          </div>

          <!-- 1 -->
          <svg
            class="w-5 h-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              d="M64 112c-8.8 0-16 7.2-16 16v22.1L220.5 291.7c20.7 17 50.4 17 71.1 0L464 150.1V128c0-8.8-7.2-16-16-16H64zM48 212.2V384c0 8.8 7.2 16 16 16H448c8.8 0 16-7.2 16-16V212.2L322 328.8c-38.4 31.5-93.7 31.5-132 0L48 212.2zM0 128C0 92.7 28.7 64 64 64H448c35.3 0 64 28.7 64 64V384c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V128z"
            />
          </svg>
          <!-- 2 -->
          <svg
            class="w-5 h-5"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 512 512"
          >
            <path
              d="M225.8 468.2l-2.5-2.3L48.1 303.2C17.4 274.7 0 234.7 0 192.8v-3.3c0-70.4 50-130.8 119.2-144C158.6 37.9 198.9 47 231 69.6c9 6.4 17.4 13.8 25 22.3c4.2-4.8 8.7-9.2 13.5-13.3c3.7-3.2 7.5-6.2 11.5-9c0 0 0 0 0 0C313.1 47 353.4 37.9 392.8 45.4C462 58.6 512 119.1 512 189.5v3.3c0 41.9-17.4 81.9-48.1 110.4L288.7 465.9l-2.5 2.3c-8.2 7.6-19 11.9-30.2 11.9s-22-4.2-30.2-11.9zM239.1 145c-.4-.3-.7-.7-1-1.1l-17.8-20c0 0-.1-.1-.1-.1c0 0 0 0 0 0c-23.1-25.9-58-37.7-92-31.2C81.6 101.5 48 142.1 48 189.5v3.3c0 28.5 11.9 55.8 32.8 75.2L256 430.7 431.2 268c20.9-19.4 32.8-46.7 32.8-75.2v-3.3c0-47.3-33.6-88-80.1-96.9c-34-6.5-69 5.4-92 31.2c0 0 0 0-.1 .1s0 0-.1 .1l-17.8 20c-.3 .4-.7 .7-1 1.1c-4.5 4.5-10.6 7-16.9 7s-12.4-2.5-16.9-7z"
            />
          </svg>
          <!-- 3 -->
          <a href="{% url 'cart' %}">
          <svg
            class="w-5 h-5 "
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 576 512"
          >
            <path
              d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"
            />
          </svg>
        </a>
        </div>

      </div>
      
        <!-- mobile nav  -->
        <nav>
          <div
            class="mnav fixed w-[300px] bg-gray-50 top-0 h-screen shadow-2xl -left-[300px] md:hidden transition-all duration-300 z-20"
          >
            <!-- close btn -->
            <div
              class="mnav__close-btn bg-gray-900 w-6 h-6 relative -right-full top-12 flex items-center justify-between rounded-tr-lg rounded-br-lg cursor-pointer transition-all"
            >
              <svg
                class="mnav__close-btn-icon ri-arrow-left-s-line ri-arrow-right-s-line w-5 h-5 text-white fill-current"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 320 512"
              >
                <path
                  d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z"
                />
              </svg>
            </div>
            <!-- services -->
            <div class="flex items-center gap-3 mt-12 mx-2">
              <svg
                class="w-6 h-6"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                style="fill: rgba(0, 0, 0, 1)"
              >
                <path
                  d="M4 11h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1zm10 0h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1h-6a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1zM4 21h6a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1zm10 0h6a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1h-6a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1z"
                ></path>
              </svg>
              <h2 class="text-xl text-gray-900">Categories</h2>
            </div>
            <ul class="flex flex-col gap-4 my-8 mx-4">
              <li class="flex items-center gap-4">
                <a
                  class="text-sm tracking-wide text-gray-900 hover:text-amber-500 transition-all duration-300"
                  href="#"
                 >Home</a
                >
              </li>
              <li class="flex items-center gap-4">
                <a
                  class="text-sm tracking-wide text-gray-900 hover:text-amber-500 transition-all duration-300"
                  href="#"
                 >Blog</a
                >
              </li>
              <li class="flex items-center gap-4">
                <a
                  class="text-sm tracking-wide text-gray-900 hover:text-amber-500 transition-all duration-300"
                  href="#"
                 >Today's Deal</a
                >
              </li>
              <li class="flex items-center gap-4">
                <a
                  class="text-sm tracking-wide text-gray-900 hover:text-amber-500 transition-all duration-300"
                  href="#"
                 >Costumer Services</a
                >
              </li>
              <li class="flex items-center gap-4">
                <a
                  class="text-sm tracking-wide text-gray-900 hover:text-amber-500 transition-all duration-300"
                  href="#"
                 >Trending Products</a
                >
              </li>
              <li class="flex items-center gap-4">
                <a
                  class="text-sm tracking-wide text-gray-900 hover:text-amber-500 transition-all duration-300"
                  href="#"
                 >Special Offers</a
                >
              </li>
            </ul>
          </div>
          <!-- lg nav  -->
          <div class="hidden lg:flex items-center justify-between"><div class="flex items-center gap-2 mx-2">
            <svg
              class="w-5 h-5"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              style="fill: rgba(0, 0, 0, 1)"
            >
              <path
                d="M4 11h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1zm10 0h6a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1h-6a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1zM4 21h6a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1H4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1zm10 0h6a1 1 0 0 0 1-1v-6a1 1 0 0 0-1-1h-6a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1z"
              ></path>
            </svg>
            <h2 class="text-sm text-gray-900">Categories</h2>
          </div>
          <ul class="flex items-center gap-4 my-4 mx-4">
            <li class="flex items-center gap-4">
              <a
                class="text-sm tracking-wide text-gray-900 hover:text-amber-500 transition-all duration-300"
                href="#"
               >Home</a
              >
            </li>
            <li class="flex items-center gap-4">
              <a
                class="text-sm tracking-wide text-gray-900 hover:text-amber-500 transition-all duration-300"
                href="#"
               >Blog</a
              >
            </li>
            <li class="flex items-center gap-4">
              <a
                class="text-sm tracking-wide text-gray-900 hover:text-amber-500 transition-all duration-300"
                href="#"
               >Today's Deal</a
              >
            </li>
            <li class="flex items-center gap-4">
              <a
                class="text-sm tracking-wide text-gray-900 hover:text-amber-500 transition-all duration-300"
                href="#"
               >Costumer Services</a
              >
            </li>
            <li class="flex items-center gap-4">
              <a
                class="text-sm tracking-wide text-gray-900 hover:text-amber-500 transition-all duration-300"
                href="#"
               >Trending Products</a
              >
            </li>
            <li class="flex items-center gap-4">
              <a
                class="text-sm tracking-wide text-gray-900 hover:text-amber-500 transition-all duration-300"
                href="#"
               >Special Offers</a
              >
            </li>
          </ul>
          </div>
        </div>
        </nav>
      <!-- header  -->
      <div class="header m-2">
        <div
          class="w-full bg-gradient-to-b from-pink-600 to-amber-500 md:bg-gradient-to-r from-pink-600 to-amber-500 rounded-lg"
        >
          <div class="flex flex-col md:flex-row items-center xl:justify-center xl:gap-32">
            <div class="md:order-2">
              <img
                class="h-64 md:h-80 lg:h-[500px] object-cover"
                src="{% static 'images/main-watches.png' %}"
                alt="Watches"
              />
            </div>
            <div class="flex flex-col items-center gap-6 md:order-1 md:py-32">
              <h1
                class="text-white font-medium text-3xl lg:text-5xl md:w-96 lg:w-[510px] mx-8 text-center"
              >
                New Year Sale Offer 2024 20% OFF
              </h1>
              <div class="mb-4 md:mt-4">
                <button class="px-4 py-4 flex items-center gap-3 bg-white hover:scale-105 transition-all duration-300">
                  <svg  class="w-5 h-5"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 576 512"
                  >
                    <path
                      d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z"
                    />
                  </svg>
                  <p class="text-sm ">Start Shopping</p>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Categories -->
      <div  class="categories px-4 py-4">
        <h3 class="text-xl text-gray-800 font-medium">Our Top Categories: </h3>
        <div class="grid grid-cols-3 md:flex md:flex-wrap justify-center gap-x-8 md:gap-x-6 gap-y-6 mx-8 my-12">
          <!-- 1 -->
          <div class=" flex flex-col items-center justify-center gap-2 cursor-pointer ">
          <div class="w-16 h-16 group bg-gray-100 rounded-full  flex flex-col items-center justify-center hover:bg-gradient-to-b from-pink-600 to-amber-500 ">
            <svg class="w-8 h-8 group-hover:text-white fill-current " xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 24 24" ><path d="M20 3H7c-1.103 0-2 .897-2 2v2H4c-1.103 0-2 .897-2 2v10c0 1.103.897 2 2 2h6c1.103 0 2-.897 2-2h8c1.103 0 2-.897 2-2V5c0-1.103-.897-2-2-2zM9.997 19H4V9h6l-.003 10zm10-2H12V9c0-1.103-.897-2-2-2H7V5h13l-.003 12z"></path>
            </svg> 
          </div>
          <p class="text-xs ">Electronics</p>
        </div>
          <!-- 2 -->
          <div class=" flex flex-col items-center justify-center gap-2 cursor-pointer ">
          <div class="w-16 h-16 group bg-gray-100 rounded-full  flex flex-col items-center justify-center hover:bg-gradient-to-b from-pink-600 to-amber-500 ">
            <svg class="w-8 h-8 group-hover:text-white fill-current "  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="M19 2H6c-1.206 0-3 .799-3 3v14c0 2.201 1.794 3 3 3h15v-2H6.012C5.55 19.988 5 19.806 5 19s.55-.988 1.012-1H21V4c0-1.103-.897-2-2-2zm0 14H5V5c0-.806.55-.988 1-1h13v12z"></path></svg>
          </div>
          <p class="text-xs ">Books</p>
        </div>
          <!-- 3 -->
          <div class=" flex flex-col items-center justify-center gap-2 cursor-pointer ">
          <div class="w-16 h-16 group bg-gray-100 rounded-full  flex flex-col items-center justify-center hover:bg-gradient-to-b from-pink-600 to-amber-500 ">
            <svg class="w-8 h-8 group-hover:text-white fill-current "  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="M13 8h-2v5h5v-2h-3z"></path><path d="M19.999 12c0-2.953-1.612-5.53-3.999-6.916V3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v2.083C5.613 6.469 4.001 9.047 4.001 12a8.003 8.003 0 0 0 4.136 7H8v2.041a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V19h-.139a8 8 0 0 0 4.138-7zm-8 5.999A6.005 6.005 0 0 1 6.001 12a6.005 6.005 0 0 1 5.998-5.999c3.31 0 6 2.691 6 5.999a6.005 6.005 0 0 1-6 5.999z"></path></svg>
          </div>
          <p class="text-xs ">Watches</p>
        </div>
          <!-- 4 -->
          <div class=" flex flex-col items-center justify-center gap-2 cursor-pointer ">
          <div class="w-16 h-16 group bg-gray-100 rounded-full  flex flex-col items-center justify-center hover:bg-gradient-to-b from-pink-600 to-amber-500 ">
            <svg class="w-8 h-8 group-hover:text-white fill-current " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="M22 8.65A5 5 0 0 0 17 4H7a5 5 0 0 0-5 4.74A2 2 0 0 0 2 9v7.5A3.48 3.48 0 0 0 5.5 20c1.43 0 2.32-1.06 3.19-2.09.32-.37.65-.76 1-1.1a4.81 4.81 0 0 1 1.54-.75 6.61 6.61 0 0 1 1.54 0 4.81 4.81 0 0 1 1.54.75c.35.34.68.73 1 1.1.87 1 1.76 2.09 3.19 2.09a3.48 3.48 0 0 0 3.5-3.5V9a2.09 2.09 0 0 0 0-.26zm-2 7.85a1.5 1.5 0 0 1-1.5 1.5c-.5 0-1-.64-1.66-1.38-.34-.39-.72-.85-1.15-1.26a6.68 6.68 0 0 0-2.46-1.25 6.93 6.93 0 0 0-2.46 0 6.68 6.68 0 0 0-2.46 1.25c-.43.41-.81.87-1.15 1.26C6.54 17.36 6 18 5.5 18A1.5 1.5 0 0 1 4 16.5V9a.77.77 0 0 0 0-.15A3 3 0 0 1 7 6h10a3 3 0 0 1 3 2.72v.12A.86.86 0 0 0 20 9z"></path><circle cx="16" cy="12" r="1"></circle><circle cx="18" cy="10" r="1"></circle><circle cx="16" cy="8" r="1"></circle><circle cx="14" cy="10" r="1"></circle><circle cx="8" cy="10" r="2"></circle></svg>
          </div>
          <p class="text-xs ">Games</p>
        </div>
          <!-- 5 -->
          <div class=" flex flex-col items-center justify-center gap-2 cursor-pointer ">
          <div class="w-16 h-16 group bg-gray-100 rounded-full  flex flex-col items-center justify-center hover:bg-gradient-to-b from-pink-600 to-amber-500 ">
            <svg class="w-8 h-8 group-hover:text-white fill-current " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="M21 3h-7a2.98 2.98 0 0 0-2 .78A2.98 2.98 0 0 0 10 3H3a1 1 0 0 0-1 1v15a1 1 0 0 0 1 1h5.758c.526 0 1.042.214 1.414.586l1.121 1.121c.009.009.021.012.03.021.086.079.182.149.294.196h.002a.996.996 0 0 0 .762 0h.002c.112-.047.208-.117.294-.196.009-.009.021-.012.03-.021l1.121-1.121A2.015 2.015 0 0 1 15.242 20H21a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM8.758 18H4V5h6c.552 0 1 .449 1 1v12.689A4.032 4.032 0 0 0 8.758 18zM20 18h-4.758c-.799 0-1.584.246-2.242.689V6c0-.551.448-1 1-1h6v13z"></path></svg>
          </div>
          <p class="text-xs ">Fine Arts</p>
        </div>
          <!-- 6 -->
          <div class=" flex flex-col items-center justify-center gap-2 cursor-pointer ">
          <div class="w-16 h-16 group bg-gray-100 rounded-full  flex flex-col items-center justify-center hover:bg-gradient-to-b from-pink-600 to-amber-500 ">
            <svg class="w-8 h-8 group-hover:text-white fill-current " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="M19 13V4c0-1.103-.897-2-2-2H7c-1.103 0-2 .897-2 2v9a1 1 0 0 0-1 1v8h2v-5h12v5h2v-8a1 1 0 0 0-1-1zm-2-9v9h-2V4h2zm-4 0v9h-2V4h2zM7 4h2v9H7V4z"></path></svg> 
          </div>
          <p class="text-xs ">Furniture</p>
        </div>
          <!-- 7 -->
          <div class=" flex flex-col items-center justify-center gap-2 cursor-pointer ">
          <div class="w-16 h-16 group bg-gray-100 rounded-full  flex flex-col items-center justify-center hover:bg-gradient-to-b from-pink-600 to-amber-500 ">
            <svg class="w-8 h-8 group-hover:text-white fill-current " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="m20.772 10.156-1.368-4.105A2.995 2.995 0 0 0 16.559 4H7.441a2.995 2.995 0 0 0-2.845 2.051l-1.368 4.105A2.003 2.003 0 0 0 2 12v5c0 .753.423 1.402 1.039 1.743-.013.066-.039.126-.039.195V21a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-2h12v2a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-2.062c0-.069-.026-.13-.039-.195A1.993 1.993 0 0 0 22 17v-5c0-.829-.508-1.541-1.228-1.844zM4 17v-5h16l.002 5H4zM7.441 6h9.117c.431 0 .813.274.949.684L18.613 10H5.387l1.105-3.316A1 1 0 0 1 7.441 6z"></path><circle cx="6.5" cy="14.5" r="1.5"></circle><circle cx="17.5" cy="14.5" r="1.5"></circle></svg> 
          </div>
          <p class="text-xs ">Toys</p>
        </div>
          <!-- 8 -->
          <div class=" flex flex-col items-center justify-center gap-2 cursor-pointer ">
          <div class="w-16 h-16 group bg-gray-100 rounded-full  flex flex-col items-center justify-center hover:bg-gradient-to-b from-pink-600 to-amber-500 ">
            <svg class="w-8 h-8 group-hover:text-white fill-current " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="M18.328 4.258a9.953 9.953 0 0 0-5.949-2.235 8.99 8.99 0 0 1-1.835 7.107L12 10.586l6.328-6.328zM7.701 9.115 4.258 5.672a9.938 9.938 0 0 0-2.112 4.704 7.007 7.007 0 0 0 5.555-1.261zm12.041-3.443L13.414 12l1.456 1.456a8.993 8.993 0 0 1 7.107-1.835 9.953 9.953 0 0 0-2.235-5.949zm2.112 7.952a7.007 7.007 0 0 0-5.555 1.261l3.443 3.443a9.924 9.924 0 0 0 2.112-4.704zM9.115 7.701a7.007 7.007 0 0 0 1.261-5.555 9.928 9.928 0 0 0-4.704 2.112l3.443 3.443zm4.509 14.153a9.936 9.936 0 0 0 4.704-2.111L14.885 16.3a7.003 7.003 0 0 0-1.261 5.554zM12 13.414l-6.328 6.328a9.953 9.953 0 0 0 5.949 2.235 8.99 8.99 0 0 1 1.835-7.107L12 13.414zm-7.742 4.914L10.586 12 9.13 10.544a8.993 8.993 0 0 1-7.107 1.835 9.953 9.953 0 0 0 2.235 5.949z"></path></svg> 
          </div>
          <p class="text-xs">Sports</p>
        </div>
          <!-- 9 -->
          <div class=" flex flex-col items-center justify-center gap-2 cursor-pointer ">
          <div class="w-16 h-16 group bg-gray-100 rounded-full  flex flex-col items-center justify-center hover:bg-gradient-to-b from-pink-600 to-amber-500 ">
            <svg class="w-8 h-8 group-hover:text-white fill-current " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="M21.598 11.064a1.006 1.006 0 0 0-.854-.172A2.938 2.938 0 0 1 20 11c-1.654 0-3-1.346-3.003-2.937.005-.034.016-.136.017-.17a.998.998 0 0 0-1.254-1.006A2.963 2.963 0 0 1 15 7c-1.654 0-3-1.346-3-3 0-.217.031-.444.099-.716a1 1 0 0 0-1.067-1.236A9.956 9.956 0 0 0 2 12c0 5.514 4.486 10 10 10s10-4.486 10-10c0-.049-.003-.097-.007-.16a1.004 1.004 0 0 0-.395-.776zM12 20c-4.411 0-8-3.589-8-8a7.962 7.962 0 0 1 6.006-7.75A5.006 5.006 0 0 0 15 9l.101-.001a5.007 5.007 0 0 0 4.837 4C19.444 16.941 16.073 20 12 20z"></path><circle cx="12.5" cy="11.5" r="1.5"></circle><circle cx="8.5" cy="8.5" r="1.5"></circle><circle cx="7.5" cy="12.5" r="1.5"></circle><circle cx="15.5" cy="15.5" r="1.5"></circle><circle cx="10.5" cy="16.5" r="1.5"></circle></svg> 
          </div>
          <p class="text-xs ">Sweets</p>
        </div>
          <!-- 10 -->
          <div class=" flex flex-col items-center justify-center gap-2 cursor-pointer ">
          <div class="w-16 h-16 group bg-gray-100 rounded-full  flex flex-col items-center justify-center hover:bg-gradient-to-b from-pink-600 to-amber-500 ">
            <svg class="w-8 h-8 group-hover:text-white fill-current " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="M7.64 21.71a8 8 0 0 0 5.6-2.47l6-6c2.87-2.87 3.31-7.11 1-9.45s-6.58-1.91-9.45 1l-6 6c-2.87 2.87-3.31 7.11-1 9.45a5.38 5.38 0 0 0 3.85 1.47zm-2-9 2.78 2.79 1.42-1.42-2.79-2.79 1.41-1.41 2.83 2.83 1.42-1.42-2.83-2.83 1.41-1.41 2.83 2.83 1.42-1.42-2.79-2.78c2-1.61 4.65-1.87 6-.47s1.09 4.56-1 6.62l-6 6c-2.06 2.05-5.09 2.5-6.62 1s-1.06-4.07.55-6.08z"></path></svg> 
          </div>
          <p class="text-xs ">Bakery</p>
        </div>
          <!-- 11 -->
          <div class=" flex flex-col items-center justify-center gap-2 cursor-pointer ">
          <div class="w-16 h-16 group bg-gray-100 rounded-full  flex flex-col items-center justify-center hover:bg-gradient-to-b from-pink-600 to-amber-500 ">
            <svg class="w-8 h-8 group-hover:text-white fill-current " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="M21.316 4.055C19.556 3.478 15 1.985 15 2a3 3 0 1 1-6 0c0-.015-4.556 1.478-6.317 2.055A.992.992 0 0 0 2 5.003v3.716a1 1 0 0 0 1.242.97L6 9v12a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V9l2.758.689A1 1 0 0 0 22 8.719V5.003a.992.992 0 0 0-.684-.948z"></path></svg>
          </div>
          <p class="text-xs ">Clothes</p>
        </div>
          <!-- 12 -->
          <div class=" flex flex-col items-center justify-center gap-2 cursor-pointer ">
          <div class="w-16 h-16 group bg-gray-100 rounded-full  flex flex-col items-center justify-center hover:bg-gradient-to-b from-pink-600 to-amber-500 ">
            <svg class="w-8 h-8 group-hover:text-white fill-current " xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="M19.66 3.6a3 3 0 0 0-4.24 0l-.71.71-7.07 7.07 2.12 2.12-6.36 6.36 1.41 1.42L19.66 6.43c1.1-1.1 1.1-1.73.71-2.12z"></path></svg> 
          </div>
          <p class="text-xs ">Accessories</p>
        </div>
        </div>
      </div>

<!-- products  -->
<div  class="products px-4 py-4">
  <h3 class="text-xl text-gray-800 font-medium">Our Top Electronics: </h3>
   <!-- Slider main container -->
<div class="swiper  xl:max-w-7xl h-96  my-8 mx-2">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <!-- slide 1 -->
    <div class="swiper-slide overflow-hidden w-80 h-80 bg-white rounded-lg shadow-xl hover:scale-105">
      <div class="flex flex-col items-start ">
        <img class="widthSwiper object-cover"  src="{% static 'images/Iphone-12-image.jpg' %}" alt="">
        <div class="flex flex-col gap-2 px-2 py-2">
          <h4 class="text-sm font-medium ">IPHONE 13</h4>
          <p class="text-xs text-gray-400">APPLE</p>
          <div class="flex items-center gap-3">
          <div class="flex items-center gap-2">
            <svg class="w-5 h-5 text-yellow-500 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z"></path></svg>
          <span class="text-xs font-medium text-gray-400">4.5</span>
          </div>
          <div>
            <span class="text-[10px] text-gray-400 p-1 bg-gray-200">7,354 sold</span>
          </div>
        </div>
        <div class="flex items-center gap-2">
          <p class="text-[10px] text-gray-400"><del>$899</del></p>
          <p class="text-xs font-semibold text-black">$799</p>
        </div>
        </div>
      </div>
    </div>
    <!-- Slide 2 -->
    <div class="swiper-slide overflow-hidden w-80 h-80 bg-white rounded-lg shadow-xl hover:scale-105">
      <div class="flex flex-col items-start ">
        <img class="widthSwiper object-cover"  src="{% static 'images/watch-apple-SE.jpg' %}" alt="">
        <div class="flex flex-col gap-2 px-2 py-2">
          <h4 class="text-sm font-medium ">APPLE WATCH SE</h4>
          <p class="text-xs text-gray-400">APPLE</p>
          <div class="flex items-center gap-3">
          <div class="flex items-center gap-2">
            <svg class="w-5 h-5 text-yellow-500 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z"></path></svg>
          <span class="text-xs font-medium text-gray-400">4.3</span>
          </div>
          <div>
            <span class="text-[10px] text-gray-400 p-1 bg-gray-200">9,785 sold</span>
          </div>
        </div>
        <div class="flex items-center gap-2">
          <p class="text-[10px] text-gray-400"><del>$249</del></p>
          <p class="text-xs font-semibold text-black">$199</p>
        </div>
        </div>
      </div>
    </div>
    <!-- Slide 3 -->
    <div class="swiper-slide overflow-hidden w-80 h-80 bg-white rounded-lg shadow-xl hover:scale-105">
      <div class="flex flex-col items-start ">
        <img class="widthSwiper object-cover"  src="{% static 'images/apple-airpods-pro-2ndGen.jpg' %}" alt="">
        <div class="flex flex-col gap-2 px-2 py-2">
          <h4 class="text-sm font-medium ">AIRPODS PRO 2ND GEN </h4>
          <p class="text-xs text-gray-400">APPLE</p>
          <div class="flex items-center gap-3">
          <div class="flex items-center gap-2">
            <svg class="w-5 h-5 text-yellow-500 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z"></path></svg>
          <span class="text-xs font-medium text-gray-400">4.5</span>
          </div>
          <div>
            <span class="text-[10px] text-gray-400 p-1 bg-gray-200">7,554 sold</span>
          </div>
        </div>
        <div class="flex items-center gap-24">
          <div class="flex items-center gap-2">
          <p class="text-[10px] text-gray-400"><del>$249</del></p>
          <p class="text-xs font-semibold text-black">$169</p>
        </div>
        <div>
        <button class="px-2 py-1 bg-black text-white fill-current text-xs" onclick="addToCart('123', 'Product Name', 1, 10.99)"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><circle cx="10.5" cy="19.5" r="1.5"></circle><circle cx="17.5" cy="19.5" r="1.5"></circle><path d="M13 13h2v-2.99h2.99v-2H15V5.03h-2v2.98h-2.99v2H13V13z"></path><path d="M10 17h8a1 1 0 0 0 .93-.64L21.76 9h-2.14l-2.31 6h-6.64L6.18 4.23A2 2 0 0 0 4.33 3H2v2h2.33l4.75 11.38A1 1 0 0 0 10 17z"></path></svg></button>
      </div>
      </div>
        </div>
      </div>
    </div>
    <!-- Slide 4 -->
    <div class="swiper-slide overflow-hidden w-80 h-80 bg-white rounded-lg shadow-xl hover:scale-105">
      <div class="flex flex-col items-start ">
        <img class="widthSwiper object-cover"  src="{% static 'images/macbook-air-13.jpg' %}" alt="">
        <div class="flex flex-col gap-2 px-2 py-2">
          <h4 class="text-sm font-medium ">MACBOOK AIR 13"</h4>
          <p class="text-xs text-gray-400">APPLE</p>
          <div class="flex items-center gap-3">
          <div class="flex items-center gap-2">
            <svg class="w-5 h-5 text-yellow-500 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z"></path></svg>
          <span class="text-xs font-medium text-gray-400">4.1</span>
          </div>
          <div>
            <span class="text-[10px] text-gray-400 p-1 bg-gray-200">4,674 sold</span>
          </div>
        </div>
        <div class="flex items-center gap-2">
          <p class="text-[10px] text-gray-400"><del>$999</del></p>
          <p class="text-xs font-semibold text-black">$899</p>
        </div>
        </div>
      </div>
    </div>
    <!-- Slide 5 -->
    <div class="swiper-slide overflow-hidden w-80 h-80 bg-white rounded-lg shadow-xl hover:scale-105">
      <div class="flex flex-col items-start ">
        <img class="widthSwiper object-cover"  src="{% static 'images/galaxy-s24-ultra.jpg' %}" alt="">
        <div class="flex flex-col gap-2 px-2 py-2">
          <h4 class="text-sm font-medium ">SAMSUNG S24 ULTRA</h4>
          <p class="text-xs text-gray-400">SANSUNG</p>
          <div class="flex items-center gap-3">
          <div class="flex items-center gap-2">
            <svg class="w-5 h-5 text-yellow-500 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z"></path></svg>
          <span class="text-xs font-medium text-gray-400">4.5</span>
          </div>
          <div>
            <span class="text-[10px] text-gray-400 p-1 bg-gray-200">3,908 sold</span>
          </div>
        </div>
        <div class="flex items-center gap-2">
          <p class="text-[10px] text-gray-400"><del>$799</del></p>
          <p class="text-xs font-semibold text-black">$749</p>
        </div>
        </div>
      </div>
    </div>
    <!-- Slide 6 -->
    <div class="swiper-slide overflow-hidden w-80 h-80 bg-white rounded-lg shadow-xl hover:scale-105">
      <div class="flex flex-col items-start ">
        <img class="widthSwiper object-cover"  src="{% static 'images/apple-pencil.png' %}" alt="">
        <div class="flex flex-col gap-2 px-2 py-2">
          <h4 class="text-sm font-medium ">APPLE PENCIL</h4>
          <p class="text-xs text-gray-400">APPLE</p>
          <div class="flex items-center gap-3">
          <div class="flex items-center gap-2">
            <svg class="w-5 h-5 text-yellow-500 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z"></path></svg>
          <span class="text-xs font-medium text-gray-400">4.1</span>
          </div>
          <div>
            <span class="text-[10px] text-gray-400 p-1 bg-gray-200">1,355 sold</span>
          </div>
        </div>
        <div class="flex items-center gap-2">
          <p class="text-[10px] text-gray-400"><del>$79</del></p>
          <p class="text-xs font-semibold text-black">$75</p>
        </div>
        </div>
      </div>
    </div>
    <!-- Slide 7 -->
    <div class="swiper-slide overflow-hidden w-80 h-80 bg-white rounded-lg shadow-xl hover:scale-105">
      <div class="flex flex-col items-start ">
        <img class="widthSwiper object-cover"  src="{% static 'images/ipad-cover.jpg' %}" alt="">
        <div class="flex flex-col gap-2 px-2 py-2">
          <h4 class="text-sm font-medium ">IPAD CASE</h4>
          <p class="text-xs text-gray-400">APPLE</p>
          <div class="flex items-center gap-3">
          <div class="flex items-center gap-2">
            <svg class="w-5 h-5 text-yellow-500 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z"></path></svg>
          <span class="text-xs font-medium text-gray-400">4.1</span>
          </div>
          <div>
            <span class="text-[10px] text-gray-400 p-1 bg-gray-200">2,499 sold</span>
          </div>
        </div>
        <div class="flex items-center gap-2">
          <p class="text-[10px] text-gray-400"><del>$40</del></p>
          <p class="text-xs font-semibold text-black">$35</p>
        </div>
        </div>
      </div>
    </div>
    <!-- Slide 8 -->
    <div class="swiper-slide overflow-hidden w-80 h-80 bg-white rounded-lg shadow-xl hover:scale-105">
      <div class="flex flex-col items-start ">
        <img class="widthSwiper object-cover"  src="{% static 'images/asus-laptop.png' %}" alt="">
        <div class="flex flex-col gap-2 px-2 py-2">
          <h4 class="text-sm font-medium ">ASUS VIVOBOOK PRO 14X OLED</h4>
          <p class="text-xs text-gray-400">ASUS</p>
          <div class="flex items-center gap-3">
          <div class="flex items-center gap-2">
            <svg class="w-5 h-5 text-yellow-500 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z"></path></svg>
          <span class="text-xs font-medium text-gray-400">4.2</span>
          </div>
          <div>
            <span class="text-[10px] text-gray-400 p-1 bg-gray-200">3,354 sold</span>
          </div>
        </div>
        <div class="flex items-center gap-2">
          <p class="text-[10px] text-gray-400"><del>$499</del></p>
          <p class="text-xs font-semibold text-black">$479</p>
        </div>
        </div>
      </div>
    </div>
    <!-- Slide 9 -->
    <div class="swiper-slide overflow-hidden w-80 h-80 bg-white rounded-lg shadow-xl hover:scale-105">
      <div class="flex flex-col items-start ">
        <img class="widthSwiper object-cover"  src="{% static 'images/Iphone-12-image.jpg' %}" alt="">
        <div class="flex flex-col gap-2 px-2 py-2">
          <h4 class="text-sm font-medium ">IPHONE 13</h4>
          <p class="text-xs text-gray-400">APPLE</p>
          <div class="flex items-center gap-3">
          <div class="flex items-center gap-2">
            <svg class="w-5 h-5 text-yellow-500 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z"></path></svg>
          <span class="text-xs font-medium text-gray-400">4.5</span>
          </div>
          <div>
            <span class="text-[10px] text-gray-400 p-1 bg-gray-200">7,354 sold</span>
          </div>
        </div>
        <div class="flex items-center gap-2">
          <p class="text-[10px] text-gray-400"><del>$899</del></p>
          <p class="text-xs font-semibold text-black">$799</p>
        </div>
        </div>
      </div>
    </div>
    <!-- Slide 10 -->
    <div class="swiper-slide overflow-hidden w-80 h-80 bg-white rounded-lg shadow-xl hover:scale-105">
      <div class="flex flex-col items-start ">
        <img class="widthSwiper object-cover"  src="{% static 'images/Iphone-12-image.jpg' %}" alt="">
        <div class="flex flex-col gap-2 px-2 py-2">
          <h4 class="text-sm font-medium ">IPHONE 13</h4>
          <p class="text-xs text-gray-400">APPLE</p>
          <div class="flex items-center gap-3">
          <div class="flex items-center gap-2">
            <svg class="w-5 h-5 text-yellow-500 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z"></path></svg>
          <span class="text-xs font-medium text-gray-400">4.5</span>
          </div>
          <div>
            <span class="text-[10px] text-gray-400 p-1 bg-gray-200">7,354 sold</span>
          </div>
        </div>
        <div class="flex items-center gap-2">
          <p class="text-[10px] text-gray-400"><del>$899</del></p>
          <p class="text-xs font-semibold text-black">$799</p>
        </div>
        </div>
      </div>
    </div>
    <!-- Slide 11 -->
    <<div class="swiper-slide overflow-hidden w-80 h-80 bg-white rounded-lg shadow-xl hover:scale-105">
      <div class="flex flex-col items-start ">
        <img class="widthSwiper object-cover"  src="{% static 'images/Iphone-12-image.jpg' %}" alt="">
        <div class="flex flex-col gap-2 px-2 py-2">
          <h4 class="text-sm font-medium ">IPHONE 13</h4>
          <p class="text-xs text-gray-400">APPLE</p>
          <div class="flex items-center gap-3">
          <div class="flex items-center gap-2">
            <svg class="w-5 h-5 text-yellow-500 fill-current" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" ><path d="M21.947 9.179a1.001 1.001 0 0 0-.868-.676l-5.701-.453-2.467-5.461a.998.998 0 0 0-1.822-.001L8.622 8.05l-5.701.453a1 1 0 0 0-.619 1.713l4.213 4.107-1.49 6.452a1 1 0 0 0 1.53 1.057L12 18.202l5.445 3.63a1.001 1.001 0 0 0 1.517-1.106l-1.829-6.4 4.536-4.082c.297-.268.406-.686.278-1.065z"></path></svg>
          <span class="text-xs font-medium text-gray-400">4.5</span>
          </div>
          <div>
            <span class="text-[10px] text-gray-400 p-1 bg-gray-200">7,354 sold</span>
          </div>
        </div>
        <div class="flex items-center gap-2">
          <p class="text-[10px] text-gray-400"><del>$899</del></p>
          <p class="text-xs font-semibold text-black">$799</p>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hidden lg:inline-flex swiper-button-prev"></div>
  <div class="hidden lg:inline-flex  swiper-button-next"></div>
</div>
</div>
    <script src="{% static '/Js/swiper-bundle.min.js' %}"></script>

    <script src="{% static '/Js/main.js' %}"></script>
    
  </body>
</html>
